{# C'est visible seulement si l'user connecté est l'usercreateur sont pareils #}
<form method="post" action="{{ path('lieu_delete', {'id': entity.id }) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce lieu ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
    <button class="btn bg-lieu text-light">Supprimer</button>
</form>