$primary: #E3CA26;
$secondary: #CBB41A;
$muted: #877812;
$dark: #222222;
$light: #BDBEAF;
$white: #EBEBEB;

@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

body {
    background-image: url(../images/bg_site.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.entete {
    background-image: url(../images/bg_header.jpg);
    background-size: cover;
}

.contenu {
    padding-top: 240px;
}


/* ****************** *
 * ***** HEADER ***** *
 * ****************** */

.logo {
    width: 100%;
    height: 160px;
}

.lateral-column {
    border-bottom: #BDBEAF 1px solid;
    padding-right: -1px !important;
    padding-left: -1px !important;
}

.nav-item {
    border-bottom: #BDBEAF 1px solid;
}

.active {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: #BDBEAF 1px solid;
    border-bottom: transparent;
}

.nav-item a{
    color: rgba(189, 190, 175, 1);
}

.nav-item a:hover, .active a {
    color: rgba(203, 180, 26, 1);
}

.events_bg {
    background-color: rgba(203, 180, 26, 0.2);
}

.artists_bg {
    background-color: rgba(203, 180, 26, 0.2);
}

.formations_bg {
    background-color: rgba(203, 180, 26, 0.2);
}

.lieux_bg {
    background-color: rgba(203, 180, 26, 0.2);
}


/* *************************** *
 * ***** PAGE EVENEMENTS ***** *
 * *************************** */

.evenement {
    padding-top: 20px;
    background-color: rgba(203, 180, 26, 0.2);
}

// .bordure_top_evt {
//     width: 100%;
//     height: 48px;
//     margin-top: 201px;
//     background-color: rgba(203, 180, 26, 0.2);
// }

.event {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.event-image {
    width: 100%;
}

.event-infos {
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
}

.desactive {
    display: none;
}

/* *************************** *
 * ***** PAGE ARTISTES ***** *
 * *************************** */

.artistes {
    padding-top: 20px;
    background-color: rgba(203, 180, 26, 0.2);
}

// .bordure_top_evt {
//     width: 100%;
//     height: 48px;
//     margin-top: 201px;
//     background-color: rgba(203, 180, 26, 0.2);
// }

.artist {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.artist-image {
    width: 100%;
}

.artist-infos {
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
}

/* *************************** *
 * ***** PAGE FORMATIONS ***** *
 * *************************** */

.formation {
    padding-top: 20px;
    background-color: rgba(203, 180, 26, 0.2);
}

// .bordure_top_evt {
//     width: 100%;
//     height: 48px;
//     margin-top: 201px;
//     background-color: rgba(203, 180, 26, 0.2);
// }

.format {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.format-image {
    width: 100%;
}

.format-infos {
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
}