$primary: #E3CA26;
$secondary: #CBB41A;
$muted: #877812;
$dark: #222222;
$light: #BDBEAF;
$white: #EBEBEB;

//@import "~bootswatch/dist/Minty/_variables";
@import "~bootstrap/scss/bootstrap";

/*body {
    padding-top: $nav-link-height + ($navbar-padding-y * 2);
}*/
