{# C'est visible seulement si l'user connecté est l'usercreateur sont pareils #}
<button type="button" class="btn bg-secondary" data-toggle="modal" data-target="#deleteModal">
  Supprimer
</button>

<form method="post" action="{{ path('evenement_delete', {'id': entity.id }) }}">
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="deleteModalLabel">Supression d'un évènement</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Etes-vous sûr de vouloir supprimer cet évènement ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Annuler</button>
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
        <button class="btn bg-secondary">Supprimer</button>
      </div>
    </div>
  </div>
</div>
</form>