{% extends 'layout.html.twig' %}

{% block page_content %}
<div class="row justify-content-center">
    <div class="col-10">
        <div class="card text-white bg-danger border-dark text-center">
            <img class="card-img-top" src="https://picsum.photos/200/100/?random" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Nom</h2>
                <h4 class="card-title">CONCERT ROCK</h4>
                <h5 class="card-text">20/11/2018 - 21H00 à 23H00 - 23€</h5>
                <p class="card-text">Ibi victu recreati et quiete, postquam abierat timor, vicos opulentos adorti equestrium adventu cohortium, quae casu propinquabant, nec resistere planitie porrecta conati digressi sunt retroque concedentes omne iuventutis robur relictum in sedibus acciverunt.Ibi victu recreati et quiete, postquam abierat timor, vicos opulentos adorti equestrium adventu cohortium, quae casu propinquabant, nec resistere planitie porrecta conati digressi sunt retroque concedentes omne iuventutis robur relictum in sedibus acciverunt.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark">
                    <p>Participants :
                        <a href="#" class="card-link">Les vieilles canailles</a>    
                        <a href="#" class="card-link">David Vincent</a>    
                    </p>
                </li>
                <li class="list-group-item bg-secondary">Lieu : 5 rue des zèbres - 57999 - Zedrange</li>
                <li class="list-group-item bg-dark">Contact : 06666666</li>
            </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}