{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/front.css') }}">
{% endblock %}

{% block body %}
{% embed 'decorator/_navbar.html.twig' with {'class' : 'fixed-top navbar-dark bg-dark', 'brandUrl' : path('index')} %}
    {% block brand %}
    P'TITES SCENES
    {% endblock %}

    {% block menu %}
        {{ knp_menu_render('main', {'style': 'horizontal-right'})}}

        {{ knp_menu_render('user', {'style': 'horizontal-right'})}}
    {% endblock %}
{% endembed %}
<div class="container">
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}