{% extends 'layout.html.twig' %}

{% block page_content %}
<ul class="list-group">
    <li class="list-group-item">{{ entity.username }}</li>
    <li class="list-group-item">{{ entity.email }}</li>
</ul>
{% endblock %}